/* * {
    outline: 1px dotted magenta;
} */

.create-and-edit-track-form-container {
    background-color: #000000;
    color: rgb(255, 255, 255);
    height: 100%;
    padding-left: 340px;
}

.create-and-edit-input-field-label {
    font: 12px sans-serif;
    color: #626262;
    text-align: left;
    text-transform: uppercase;
}

.create_track_heading {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    line-height: 100%;

    /* for the bottom gray line */
    border-bottom: 1px solid rgba(154,154,154,.35);
}

.create-and-edit-input-field {
    background: #fff;
    border: .15rem solid #ccc;
    border-radius: 0;
    color: #000;
    padding: 1px;
    resize: vertical;

    display: block;
    width: 50%;
    box-sizing: border-box;

    font-size: 16px;
    display: flex;
    justify-items: column;
}

.create-and-edit-input-field:focus {
    outline-color: rgb(153, 167, 238);
    outline-offset: -5px;
}

.create-and-edit-lyrics-input-field {
    background: #fff;
    border: .15rem solid #ccc;
    border-radius: 0;
    color: #000;
    padding: 1px;
    resize: vertical;
    -webkit-appearance: none;

    display: block;
    width: 50%;
    box-sizing: border-box;
    height: 390px;

    font-size: 16px;
    display: flex;
    justify-items: column;
}

.create-and-edit-lyrics-input-field:focus {
    outline-color: rgb(153, 167, 238);
    outline-offset: -5px;
}


.submit-form-button {
    background-color: #262626;
    color: #ccc;
    cursor: pointer;
    padding: 6px;
    font-size: 13px;
    border: 1px solid #444;
    display: inline-block;
    border-radius: 2px;
}

.edit-button-container {
    width: 488px;
    background: linear-gradient(to bottom,#fff 80%,rgba(255,255,255,0));

    /* sticks to top of page */
    position: sticky;
    top: 0; 
}

.edit-button {
    border-color: #000;
    color: #000;
    transition: background-color .3s,border-color .3s;
    /* background-color: transparent; */
    border-width: .15rem;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    line-height: 1.4rem;
    margin: 10px 10px 10px -1px;
    text-decoration: none;
}

.hide-this-field {
    visibility: hidden;
}