@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

/* * {
    outline: 1px solid pink;
} */

header {
    justify-content: center;
    display: block;
    background-color: #ffff64;
    display: flex;
    align-items: center;
    height: 40px;
}

.header_bar h1 {
    color: #ffff64;
    font-weight: bold;
    text-shadow: -2px 1.8px 0.5px black;
}

.header_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_website {
    animation: fade_in 1s backwards;
    opacity: 1;
    color: #ffff64;
    font-size: 25px;
    font-weight: bold;
    text-shadow: -2px 1.8px 0.5px black;
    text-decoration: none;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.session_buttons_holder {
    display: flex;
    align-items: center;
    height: 100%;
}

.session_buttons {
    background-color: #ffff64;
    border-color: #ffff64;
    display: flex;
    position: relative;
    box-sizing: border-box;
    font-size: .70em;
    font-weight: 600;
    height: 40px;
    border-bottom: 5px solid transparent;
    text-transform: uppercase;
    padding-top: 5px;
    color: #000;
    transition: .1s border-bottom;
    text-decoration: none;
    cursor: pointer;
}

.session_buttons:hover {
    border-bottom: 5px solid rgb(255, 20, 100);
}

.header_right_side {
    display: flex;
    align-items: center;
}

/* 
to implement later
.search_bar {
    background-color: white;
    color: black;
    text-decoration: none;
} */

/* search bar icon 
<i class="fas fa-search"></i> */