.top-tracks-index-item {
    height: 78px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    color: #000000;
    text-decoration: none;

    display: flex;
    align-items: center;
    /* you dont' need vertical margins if you do this */
    /* margin-right: 100px; */
    /* flex-direction: column; */
}

.top-tracks-numbering {
    margin: 19px 61px 19px 20px;
    width: 13px;
}

.top-tracks-index-item-image {
    /* height: auto; */
    width: 61px;
    height: 61px;
    /* set height to auto to match width */
}

.top-tracks-index-item-title {
    /* font-size: 27px; */
    line-height: 17px;
}

.top-tracks-index-item-artist {
    font-size: 23px;
}

.top-tracks-index-item-text {
    display: flex;
    /* flex-direction: column; */
    width: 30%;
    justify-content: space-between;

    box-sizing: border-box;
    margin-left: 30px;
}

.top-tracks-index-item:hover {
    background-color: #e9e9e9;
    transition: background-color .25s ease;
}

.index-item-header {
    text-transform: uppercase;
    margin: 0 auto;
    width: 1100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #FF1464;
    font-size: 15px;
}

.top-tracks-index-item-container {
    /* width: 800px; */
    /* border-top: 2px solid #000000; */
    width: 1188px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.index-item-whole-container {
    padding: 38px 238px 38px 238px;
    font-family: 'Cabin', sans-serif;
}