/* @import url('https://fonts.googleapis.com/css?family=Cabin&display=swap'); */

/* * {
    outline: 1px solid pink;
} */
/* 
nav_bar {
    justify-content: center;
    display: block;
    background-color: black;
    display: flex;
    align-items: center;
    height: 29px;
}

.nav_bar h1 {
    color: #black;
    font-size: 14px;
    font-weight: bold;
} 

.nav_bar:hover {
    color: ##ffff64;
} 

*/