/* * {
    outline: 1px solid pink;
}     */

.nav-bar {
    /* justify-content: center; */
    display: block;
    align-items: center;
    height: 39.5px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar h1 {
    color: white;
    font-size: 14px;
    font-weight: bold;
} 

.nav-bar-button {
    color: white;
    text-decoration: none;
}

.nav-bar-button:hover {
    color: #ffff64;
} 

/* "vh" is a measure of view-height. the number is just a percentage of 
whatever your screen's height is. (there's also view-width).
currently, the footer is 90% of the view-height because body takes up no space.
once there is more material in the body, you can give the body this attribute--90vh
and it will be taking up the majority of the screen. */
.footer-wrapper {
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    width: 100%;

    /* how the footer gets stuck to the bottom of the page */
    position: fixed;
    bottom: 0;
    /* bottom should go to the bottom */
    left: 0;
    /* leftmost edge goes to the edge */
}

.footer-bar {
    /* align-items: flex-end; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;

    box-sizing: border-box;
}

.footer-bar-button {
    color: #ffff64;
    text-decoration: none;
}

.footer-bar-button-personal {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

.footer-bar-button-personal:hover {
    animation: animate 1s linear infinite;
}

@keyframes animate 
{
    0%
    {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.footer-bar-button-personal:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 05.s;
}

.footer-bar-button-personal:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 1s linear infinite;
}

.footer-bar-button:hover {
    color: rgb(153, 167, 238);
} 