/* * {
    outline: 1px solid pink;
}     */

.nav-bar {
    justify-content: center;
    display: block;
    align-items: center;
    height: 39px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar h1 {
    color: white;
    font-size: 14px;
    font-weight: bold;
} 

.nav-bar-button {
    color: white;
    text-decoration: none;
}

.nav-bar-button:hover {
    color: #ffff64;
} 

/* "vh" is a measure of view-height. the number is just a percentage of 
whatever your screen's height is. (there's also view-width).
currently, the footer is 90% of the view-height because body takes up no space.
once there is more material in the body, you can give the body this attribute--90vh
and it will be taking up the majority of the screen. */
.footer-wrapper {
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    width: 100%;

    /* how the footer gets stuck to the bottom of the page */
    position: fixed;
    bottom: 0;
    /* bottom should go to the bottom */
    left: 0;
    /* leftmost edge goes to the edge */
}

.footer-bar {
    /* align-items: flex-end; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;

    box-sizing: border-box;
}

.footer-bar-button {
    color: #ffff64;
    text-decoration: none;
}

.footer-bar-button:hover {
    color: rgb(153, 167, 238);
} 