@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

body {
    font-family: 'Cabin', sans-serif;
}

.submit_button {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.signup_and_signin_label {
    font-size: 14px;
    color: #FFFF64;
    margin: 0px 1.4px 16px 0px;
    padding: 0px 0px 6px;
    /* border-bottom: 2px solid rgb(153, 167, 238);  */
    width: 100%;
    text-transform: uppercase;
    font-size: 38px;
}

/* display flex, flex column */
.signup_and_signin_input_field {
    background: #fff;
    border: .15rem solid #ccc;
    border-radius: 0;
    color: #000;
    padding: .25rem;
    resize: vertical;
    -webkit-appearance: none;

    margin-bottom: 1rem;
    margin-top: .375rem;
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-size: 16px;
    display: flex;
    justify-items: column;
}

.signup_and_signin_input_field:focus {
    outline-color: rgb(153, 167, 238);
    outline-offset: -5px;
}

.signup_and_signin_form_container {
    background-color: #292929;
    padding: 1rem 1.313rem;
    border: 1px solid #444;
    /* margin: 1 rem auto; */
}

.submit_button {
    border-color: #000;
    color: #000;
    word-wrap: break-word;
    word-break: break-word;
    transition: background-color .3s,border-color .3s;
    background-color: transparent;
    border-style: solid;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0;
    text-align: center;
    /* padding: .25rem .5rem; */
    vertical-align: top;
    -webkit-appearance: none;
}