.track-lyrics {
    background: rgb(153, 167, 238);
    color: #ffff64;
    font-size: 12px;
    max-height: 100%;
    overflow: auto;
    width: 75vh;

    /* preserves line breaks */
    white-space: pre-line;       

}