.track-show-whole-cover-container {
    position: relative;
    display: block;
    /* so the title text covers it */
}

.track-image-show-big-cover {
    width: 100%;
    height: 278px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.9; 
    filter: brightness(20%);
    object-fit: cover;

}

.track-image-show-small-cover {
    width: 220px;
    height: 220px;
    border: 2px solid #9A9A9A;
    position: absolute;
    left: 220px;
    top: 32px;
}

.track-show-title {
    color: #FFFF64;
    font-size: 30px;

    position: absolute;
    bottom: 200px;
    left: 460px;
    font-weight: bold;
    /* so the title text covers it */
}

.track-show-artist {
    color: white;
    font-size: 25px;

    position: absolute;
    bottom: 160px;
    left: 460px;
    font-weight: bold;
}

.track-show-album {
    color: #7D8FE8;
    font-size: 20px;

    position: absolute;
    bottom: 120px;
    left: 460px;
    font-weight: bold;
}

.track-show-default-text {
    color: #9A9A9A;
    font-size: 20px;

    position: absolute;
    bottom: 160px;
    left: 460px;
    font-weight: bold;
}

.track-lyrics-whole-container {
    padding: 0px 16px 0px 220px;
}

.track-lyrics {
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    max-height: 100%;
    overflow: auto;
    /* width: 75%; */

    /* to double-space the lyrics */
    line-height: 1.6;

    /* preserves line breaks */
    white-space: pre-line;       
}

.lyrics-and-annotations {
    display: flex;
}